@page
@model Academy.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Create";
}
<style>

    div .create-new-link {
        color: purple;
    }

        div .create-new-link:hover {
            color: darkorchid;
        }

    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #4B0082;
    }

    h4 {
        color: #7B68EE;
    }
</style>
<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Student.last_name" class="control-label"></label>
                <input asp-for="Student.last_name" class="form-control" aria-required="true"/>
                <span asp-validation-for="Student.last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Student.first_name" class="control-label"></label>
                <input asp-for="Student.first_name" class="form-control" aria-required="true"/>
                <span asp-validation-for="Student.first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.middle_name" class="control-label"></label>
                <input asp-for="Student.middle_name" class="form-control" />
                <span asp-validation-for="Student.middle_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Student.birth_date" class="control-label"></label>
                <input asp-for="Student.birth_date" class="form-control" aria-required="true"/>
                <span asp-validation-for="Student.birth_date" class="text-danger"></span>
            </div>
    @*         <div class="form-group">
                <label asp-for="Student.email" class="control-label"></label>
                <input asp-for="Student.email" class="form-control" />
                <span asp-validation-for="Student.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.phone" class="control-label"></label>
                <input asp-for="Student.phone" class="form-control" />
                <span asp-validation-for="Student.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.photo" class="control-label"></label>
                <input asp-for="Student.photo" class="form-control" />
                <span asp-validation-for="Student.photo" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="create-new-link">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
