@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy policy";
}

<style>
    h1
    {
        text-align:center;
        margin-bottom:50px;
        color: #00CED1;
    }
    h2
    {
        text-align:center;
        margin-bottom:50px;
        color: #7B68EE;
    }
    p
    {
        text-align:center;
        margin-top:10px;
        color: #4B0082;
    }
</style>

<h1>@ViewData["Title"]</h1>

<h2>ദ്ദി(˵ •̀ ᴗ - ˵ ) ✧</h2>
<p>🤝𝐖𝐄𝐋𝐂𝐎𝐌𝐄 to our 🏫, the best educational 🏢 of our country.</p>
<p>Here we give all the best 💻, 💼, 📚 and 👨🏻‍🎓.</p>
<p>All our 👩🏻‍🎓 👨🏻‍🎓 are good professionals and apply all the modern 🤖 during their lessons.</p>
<p>All our 🙋🏻‍♀ get fundamental and soft-skills 🦉, apply them in 😎 during lessons and
    easily find their future ⤷💼ˎˊ˗.
</p>
<p>All the 🗂️ concerning our 🏫 are 🔒 and can not be 📝 ni 🕹️ without official permission.</p>
<p>All rights ⚔️.</p>
<h2>(๑ > ᴗ < ๑)</h2>
<p>We will be glad to see you in our team as a pupil, student, specialist.</p>
<p>Thank you for visiting our site and hope to see you soon.</p>
<h2>( ๑‾̀◡‾́)✨</h2>
